@using Domain.Entityes
@using DressShopWebUI.Models
@model PageModel
@{
    ViewBag.Title = "Отзывы";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    /*---------------------------------- cмайлы------------------------------------*/
    #radios label {
        cursor: pointer;
        position: relative;
    }

        #radios label + label {
            margin-left: 25px;
        }

    input[type="radio"] {
        opacity: 0; /* hidden but still tabable */
        position: absolute;
    }

        input[type="radio"] + span {
            font-family: 'Material Icons';
            color: #B3CEFB;
            border-radius: 100%;
            padding-bottom: 7px;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
        }

        input[type="radio"]:checked + span {
            color: #D9E7FD;
            background-color: rgba(246, 252, 34, 0.46);
        }

        input[type="radio"]:focus + span {
            color: #fff;
        }
    /*---------------------------------- cмайлы------------------------------------*/
</style>
<div class="row menu-top">
    <div class="container-fluid menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="myLi">
                        <a href="/Home/Index"><span style="font-weight: lighter">О ДИЗАЙНЕРЕ</span></a>
                    </li>
                    <li class="myLi">
                        <a href="/Home/Selling"><span style="font-weight: lighter">ONLINE-ГАРДЕРОБ</span></a>
                    </li>
                    <li class="myLi">
                        <a href="/Home/Gallery"><span style="font-weight: lighter">ГАЛЕРЕЯ</span></a>
                    </li>
                    <li class="myLi">
                        <a href="/Home/Partners"><span style="font-weight: lighter">ПАРТНЕРЫ</span></a>
                    </li>
                    <li class="myLi active">
                        <a href="/Home/ClientFeedback"><span style="font-weight: lighter">ОТЗЫВЫ</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
@Html.Action("Slider", "Home")

<br/>
@if (TempData["messageOk"] != null)
{
    <div align="center"><h4 style="color: green">@TempData["messageOk"]</h4></div>
            <br />
            <br />
}
@if (TempData["message"] != null)
{
    <div align="center"><h4 style="color: red">@TempData["message"]</h4></div>
            <br />
            <br />
}
<div class="container-fluid cont otzyv">
@foreach (var item in Model.Reviewses)
{
    <div class="row otziv">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
            <p class="otzyv-name">@item.ClientName</p>
            <p class="otzyv-data">@item.DateFeedback.ToString("dd.MM.yyyy")</p>
            <p class="otzyv-zirka">
                
                    @if (item.Rating.Equals(1))
                    {
                        <img title="Великолепно!" src="~/img/smailOk.png" />
                    }
                    @if (item.Rating.Equals(2))
                    {
                        <img title="Плохо" src="~/img/smailBad.png" />
                    }

            </p>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <img src="~/img/verchkoma.png" alt="" class="koma">
        </div>
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
            <p>@item.ClientFeedback</p>
            @if (item.Advantages != null)
            {
                <div class="row">
                    
                    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                        <img src="~/img/plus.png" alt="">
                    </div>
                    <div class="col-xs-10 col-sm-11 col-md-11col-lg-11">
                        <p>@item.Advantages</p>
                    </div>
                </div>
            }
            @if (item.LackOf != null)
            {
                <div class="row">
                    
                    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                        <img src="~/img/minus.png" alt="">
                    </div>
                    <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                        <p>@item.LackOf</p>
                    </div>
                </div>
            
            }
        </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 polosa"></div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align: right">
            <img src="~/img/nizkoma.png" alt="" class="koma">
        </div>
    </div>
    
        <br/>
        }
        <div align="center">
            <div class="btn-group">
                @Html.PageLinks(Model.PageInfo, x => Url.Action("ClientFeedback", new {page = x}))
            </div>
        </div>
        <div class="row forma">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p style="font-size: 20px; text-decoration: underline;">
                    <b>Оставьте Ваш Отзыв!</b>
                </p>
                @Html.Partial("NewFeedback", new Reviews())
            </div>
        </div>
    </div>
<br />
        
